CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_phicomm_k2p=y

#add MIPS FPU
CONFIG_KERNEL_MIPS_FPU_EMULATOR=y

#Saving space
CONFIG_KERNEL_PRINTK=n
CONFIG_KERNEL_CRASHLOG=n
CONFIG_KERNEL_SWAP=n
CONFIG_KERNEL_KALLSYMS=n
CONFIG_KERNEL_DEBUG_INFO=n
CONFIG_KERNEL_ELF_CORE=n
CONFIG_IPV6=n
CONFIG_KERNEL_MAGIC_SYSRQ=n
CONFIG_KERNEL_PRINTK_TIME=n
CONFIG_PACKAGE_MAC80211_DEBUGFS=n
CONFIG_PACKAGE_MAC80211_MESH=n
CONFIG_STRIP_KERNEL_EXPORTS=y
CONFIG_USE_MKLIBS=y
CONFIG_SERIAL_8250=n
CONFIG_EARLY_PRINTK=n

CONFIG_PACKAGE_luci-app-openclash=y
#CONFIG_PACKAGE_kmod-tun=y
