CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_phicomm_k2p=y

#add MIPS FPU
CONFIG_KERNEL_MIPS_FPU_EMULATOR=y

#Saving space
CONFIG_PACKAGE_luci-app-webadmin=y

CONFIG_IPV6=n
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=n
CONFIG_PACKAGE_ipv6helper=n
CONFIG_PACKAGE_iputils-traceroute6=n

CONFIG_PACKAGE_htop=n
CONFIG_PACKAGE_curl=n
CONFIG_PACKAGE_wget=n
CONFIG_PACKAGE_iperf3=n
CONFIG_PACKAGE_tcpdump=n

CONFIG_PACKAGE_luci-app-commands=n
CONFIG_PACKAGE_luci-app-diag-core=n
CONFIG_PACKAGE_luci-app-ttyd=n
CONFIG_PACKAGE_luci-app-wrtbwmon=n
CONFIG_PACKAGE_luci-app-mwan3=n
CONFIG_PACKAGE_luci-app-mwan3helper=n
CONFIG_PACKAGE_luci-app-syncdial=n
CONFIG_PACKAGE_luci-app-zerotier=n

CONFIG_PACKAGE_luci-app-ssr-plus=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray=n

CONFIG_PACKAGE_luci-app-openclash=y
#CONFIG_PACKAGE_kmod-tun=y
